
@page "/Categorias"

@inherits ListaCategoriaBase

<PageTitle>Listado de Categorias</PageTitle>

<h3>Lista Categorias</h3>

<div class="mb-3">
    <button class="btn btn-danger" @onclick="NavigateToCreate">
        <i class="fa fa-plus pr-2"></i> Crear Nueva Categoria
    </button>
</div>

@if (!categorias.Any())
{
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="visually-hidden">Loading...</span>
    </button>
}

{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                
            </tr>
        </thead>
        <tbody>            
            @foreach (var categoria in categorias)
            {
                <tr @onclick="()=> NavigateToDetails(categoria.id)" class="cursor-pointer">
                    <td>@categoria.id</td>
                    <td>@categoria.tipo</td>
                </tr>
            }            
        </tbody>
    </table>
}
