@page "/about"

<PageTitle>About Us</PageTitle>

<div class="jumbotron text-center bg-secondary text-white">
    <h1 class="display-4">Sobre Nosotros</h1>
    <p class="lead">Institución Universitaria Colegio Mayor del Cauca</p>
    <hr class="my-4 bg-light" />
    <p>Componente de Módulo: Aplicaciones Web II</p>
    <p>Año: 2024</p>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="images/university.png" alt="Universidad" />
                <div class="card-body">
                    <h5 class="card-title">Nuestra Universidad</h5>
                    <p class="card-text">La Institución Universitaria Colegio Mayor del Cauca es reconocida por su excelencia académica y su compromiso con la comunidad.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="images/web-development.jpg" alt="Aplicaciones Web II" />
                <div class="card-body">
                    <h5 class="card-title">Aplicaciones Web II</h5>
                    <p class="card-text">Este módulo se enfoca en el desarrollo de aplicaciones web modernas y eficientes, preparando a los estudiantes para los desafíos del futuro.</p>
                </div>
            </div>
        </div>
    </div>
</div>
