@page "/"

<PageTitle>Home</PageTitle>

<div class="jumbotron text-center bg-danger text-white">
    <h1 class="display-4">¡Bienvenido a FireStock!</h1>
    <p class="lead">Gestiona fácilmente el inventario y los equipos esenciales para proteger y salvar vidas.</p>
    <hr class="my-4 bg-light" />
    <p>Desde equipos de rescate hasta herramientas de extinción, gestionamos todo lo que necesitas para estar siempre preparado.</p>
    <a class="btn btn-dark btn-lg" href="/bomberos" role="button"> Ver Bomberos</a>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="images/hacha y extintor.jpg" alt="Equipo" />
                <div class="card-body">
                    <h5 class="card-title">Equipo</h5>
                    <p class="card-text">Gestiona todos los detalles del equipo esencial para tus operaciones de emergencia.</p>
                    <a href="/elementos" class="btn btn-dark">Ver Más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="images/Prestamos.jpg" alt="Prestamos" />
                <div class="card-body">
                    <h5 class="card-title">Prestamos</h5>
                    <p class="card-text">Gestiona fácilmente los préstamos de equipos y materiales para tus operaciones de rescate.</p>
                    <a href="/prestamos" class="btn btn-dark">Ver Más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="images/Categoria.jpg" alt="Categorias" />
                <div class="card-body">
                    <h5 class="card-title">Categorias</h5>
                    <p class="card-text">Encuentra la lista de categorias de tus equipos materiales utilizados</p>
                    <a href="/Categorias" class="btn btn-dark">Ver Más</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
